<header class="header">
  <nav>
    <div class="nav-wrapper">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLinkActive="red accent-4" routerLink="/games">Игры</a></li>
        <li><a routerLinkActive="red accent-4" routerLink="/devolopers">Разработчики</a></li>
        <li><a routerLinkActive="red accent-4" routerLink="/publishers">Издатели</a></li>
      </ul>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a routerLinkActive="red accent-4" routerLink="/changeDevolopers">Редактирование разработчиков</a></li>
        <li><a routerLinkActive="red accent-4" routerLink="/changePublishers">Редактирование издателей</a></li>
        <li><a routerLinkActive="red accent-4" routerLink="/changeGenres">Редактирование жанров</a></li>
        <li><a routerLinkActive="red accent-4" routerLink="/changeGames">Редактирование игр</a></li>
      </ul>
    </div>
  </nav>
</header>
