<h2>Редактирование разработчиков</h2>
<h3>список:</h3>

<table *ngIf='data'>
  <thead>
    <tr>
        <th>Имя</th>
        <th>Ссылка на редактирование</th>
        <th>Ссылка на удаление</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of data">
      <td>{{item.name}}</td>
      <td><a [routerLink]="['/changeDevolopers', item.developerId]" >Редактировать</a></td>
      <td><button class="waves-effect waves-light btn-small red lighten-2" (click)="delete(item.developerId)">Удалить</button></td>
    </tr>
  </tbody>
</table>

<div class="row" >
  <h4>Создать разработчика</h4>
  <div class="input-field col s6">
    <span>Имя</span>
    <input  id="name" type="text" class="validate"  #name (input)="handleInput(name.value)" value="new devoloper">
    <button class="waves-effect waves-light btn-small green lighten-2" (click)="create()">Создать</button>
  </div>
</div>

